.productrow{
width:650px;
height:500px;
margin-left: 300px;
margin-top: 100px;
}

.featuredproductsrow{
display: flex;
flex-wrap: nowrap;
overflow-x: auto;
overflow-y: hidden;
margin-left:10%;
height: 200px;
width: 75%;
margin-top: 70px;
margin-bottom: 200px;
/* background-color: blue; */
justify-content: space-around;


}

.productimg{
    width:200px;
    height:200px;
}

.column-2{
    width: calc(2*8.333%)

}

.productdescription{
  margin-left: 20%;
  margin-top:5%
}

.modal{

    width: 500px;
    height:500px;
}