.homecontainer{
    display: flex;
    width: 100%;
    /* flex-wrap: wrap; */
    overflow-y: scroll;
    margin-top: 10px;
}

.homerows{
    width: calc(3*8.333);
    margin-left: 70px;
    margin-top: 20px;

}

.heading{
    margin-left: 70px;
    margin-top: 50px;
    color :#112757;
}